body {
	padding: 70px;
}

h1 {
	font-weight: 600;
}

.jumbotron {
	color: #2c3e50;
	background: #ecf0f0;
}

.navbar-inverse {
	background: #2c3e50;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}
.navbar-inverse .navbar-brand {
    color: white;
}

