body {
	background: url(https://images.unsplash.com/photo-1489065094455-c2d576ff27a0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
	background-size: cover;
	/*background-repeat: no-repeat;*/
	background-position: center;
	font-family: 'Lato';
	color: rgba(60,80,100,0.5);
}

html {
	height: 100%;
}


#content {
	text-align: center;
	padding-top: 15%;
	text-shadow: 1px 4px 5px rgba(0, 0, 0, 0.5),
				 1px 6px 15px rgba(0, 0, 0, 0.3),
				 1px 8px 25px rgba(0, 0, 0, 0.1);
}

h1 {
	font-size: 5em;
}


hr {
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}
	

